body{
    background:red;
}
.top{
    background:orange;
    padding:10px 0;
}
.bestseller{
    background: #FFF;
    padding:50px 0;
}
.bbox{
    width: 100%;
    text-align: center;
}
.bimage{ 
    overflow: hidden;
}
.bbox img{
    width:100%;
    transition: all 2s;
}
.bbox:hover img{
    transform: scale(1.2,1.2);
}
.xyzarea{
    background: #FFF;
    padding:70px 0;
}
.xyz{
    background: url('https://aman-kumar18.github.io/minimalist/girl.png') no-repeat;
    padding:50px 0;
}
.categoryarea{
    background: #FFF;
    padding: 50px 0;
    text-align: center;
}
.cbox{
    width:100%;
    position: relative;
    overflow: hidden;
}
.cbox img{
    width:100%;
    transition: all 1s;
}
.cbox h5{
    position: absolute;
    bottom:-10px;
    width: 100%;
    background:linear-gradient(to top, black, transparent);
    padding:20px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.cbox:hover img{
    transform: rotate(5deg) scale(1.2,1.2);
}